.homes {
    grid-column: center-start/center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    @media screen and (max-width: $bp-medium) {
        margin: 10rem 0;
    }
}

.home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
    &__img {
        width: 100%;
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    &__like {
        fill: $color-primary;
        height: 2.5rem;
        width: 2.5rem;
        grid-column: 2/-1;
        grid-row: 1/2;
        justify-self: end;
        margin: 1rem;
    }
    &__name {
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: end;
        justify-self: center;
        width: 80%;
        text-align: center;
        color: #fff;
        background-color: $color-secondary;
        font-family: $font-display;
        font-weight: 400;
        font-size: 1.6rem;
        padding: 1.25rem;
        transform: translateY(50%);
    }
    &__location,
    &__rooms,
    &__area,
    &__price {
        font-size: 1.5rem;
        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }
        display: flex;
        align-items: center;
    }
    &__btn {
        grid-column: 1/-1;
    }
    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }
    &__location,
    &__area {
        margin-left: 2rem;
    }
    &__rooms,
    &__price {
        margin-left: .5rem;
    }
}